*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#e8f0ff;
}

.container{

    width:700px;
    margin:40px auto;
    text-align:center;

}

h1{

    margin-bottom:25px;
    font-size:45px;

}

input{

    width:90%;
    padding:15px;
    font-size:22px;
    border-radius:10px;
    border:2px solid #444;
    outline:none;

}

button{

    margin-top:15px;
    padding:15px 30px;
    font-size:22px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    transition:.3s;

}

button:hover{

    transform:scale(1.08);

}

#addBtn{

    background:green;
    color:white;

}

#clearBtn{

    background:red;
    color:white;
    margin-left:10px;

}

#taskList{

    margin-top:30px;
    list-style:none;

}

#taskList li{

    display:flex;
    justify-content:center;
    align-items:center;
    gap:15px;

    background:white;
    margin:15px auto;
    padding:18px;

    width:90%;

    border-radius:12px;

    font-size:28px;

    box-shadow:0 5px 15px rgba(0,0,0,.2);

    animation:show .4s;

}

input[type="checkbox"]{

    width:25px;
    height:25px;

}

.delete{

    background:red;
    color:white;
    font-size:18px;
    padding:8px 15px;

}

@keyframes show{

    from{

        opacity:0;
        transform:translateY(-20px);

    }

    to{

        opacity:1;
        transform:translateY(0);

    }

}
